// COLOURS
$MAIN: #B35642;
$BACKGROUND: #F4F7F3;
$INFO: #231622;
$SUCCESS: #6d944c;
$WARNING: #ea8414;
$DANGER: #f44336;

// BOX SHADOWS
$BOX_SHADOW_1: 0px 5px 5px rgba(69, 69, 69, 0.5);
$BOX_SHADOW_2: 0px 10px 10px rgba(69, 69, 69, 0.5);